body, input, select, div {
  background-color: #000;
  color: #cca;
  outline: none;
}
input {
  height: 20px;
  border: 1px inset #999;
}
div {
  border: 1px inset #999;
  font-family: monospace;
  font-size: 10pt;
  word-wrap: break-word;
  scrollbar-color: #000 #888;
  scrollbar-face-color: #000;
  scrollbar-shadow-color: #888;
  scrollbar-highlight-color: #888;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #888;
  margin-bottom: 5px;
}
#send {
  background-color: #666;
}
.button {
  padding: 0 2px;
  overflow: visible;
}
#keymanager {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  position: absolute;
  width: 700px;
  height: 400px;
  top: 0;
  right: 0;
  border: 1px solid #fff;
  padding: 5px;
  margin: 0;
  overflow-y: scroll;
  z-index: 200;
}
#keymanager td {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  padding: 2px;
  vertical-align: bottom;
}
.keymanager {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
}
.fixed-width {
  width: 113px;
}
#passwordPrompt {
  z-index: 100;
  background-color: #a00;
  width: 300px;
  height: 100px;
  position: absolute;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -150px;
  text-align: center;
  font-size: 16pt;
  padding-top: 20px;
}
#generatekey, #showpass {
  margin-bottom: 1px;
}
#changePass {
  z-index: 300;
  background-color: #a00;
  width: 300px;
  height: 180px;
  position: absolute;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  margin-left: -150px;
  text-align: center;
  font-size: 16pt;
}
#file, #a {
  position: absolute;
  left: -30000px;
  visibility: hidden;
  opacity: 0;
}
.blue {
  color: #ccf;
}
